<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div>
    <label>name </label>
    <input type="text" [ngModel]="title" name="usernam">
  </div>
  <div>
    <label>email </label>
    <input type="email" ngModel name="email" required email #ss="ngModel">
    <p *ngIf="!ss.valid && ss.touched">please enter only email data</p>
  </div>
  <!-- <button type="button" (click)="onSubmit()" [disabled]="!f.valid" > submit</button> -->
  <button type="submit"  [disabled]="!f.valid" > submit</button> 
  
</form>